# Exercise 13
### Create a dataframe of ten rows, four columns with random values. Write a Pandas program to highlight dataframeâ€™s specific columns with different colors.

In [ ]:
import pandas as pd

In [ ]:
df13 = pd.DataFrame(np.zeros((10,4)), columns= list('abcd'))

In [ ]:
def style13(data, columns, color):
    new = data.style.set_properties(subset=columns, **{'background-color': color})
    return new

# set_properties(subset, **kwargs)
# **kwargs -> inserire il parametro preceduto da **
#             {parole chiave in forma di dizionario}
''' {
    'background-color': 'lightblue',
    'color': 'darkgreen',
    'font-weight': 'bold',
    'text-align': 'center'
     }'''

" {\n    'background-color': 'lightblue',\n    'color': 'darkgreen',\n    'font-weight': 'bold',\n    'text-align': 'center'\n     }"

In [ ]:
style13(df13, ['c', 'd'], 'red')