# Exercise 6
### Write a Pandas program to find the top 5 countries with the highest beer servings and the highest spirit servings from the world alcohol consumption dataset. Retrieve the country names, beer servings, spirit servings, and the corresponding region for these top 5 countries.

In [ ]:
df.sort_values('beer_servings', ascending= False).head(5)[['country', 'beer_servings', 'spirit_servings']]

       country  beer_servings  spirit_servings
111    Namibia          376.0              3.0
43     Czechia          361.0            170.0
58       Gabon          347.0             98.0
61     Germany          346.0            117.0
94   Lithuania          343.0            244.0