# Exercise 4
#### Write a Pandas program to filter the records from the world alcohol consumption dataset where the average consumption of beverages per person (beer, spirit, and wine combined) falls within the range of 0.5 to 2.5. Retrieve the records that include the country, average consumption, region, and GDP per capita.

In [ ]:
df['average consumption'] = round((df['beer_servings'] + df['spirit_servings'] + df['wine_servings'])/3, 2)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   country              177 non-null    object
 1   beer_servings        177 non-null    float64
 2   spirit_servings      177 non-null    float64
 3   wine_servings        177 non-null    float64
 4   life_expentancy      177 non-null    float64
 5   region               177 non-null    object
 6   gdp_per_capita       177 non-null    int64
 7   average consumption  177 non-null    float64
dtypes: float64(5), int64(1), object(2)
memory usage: 11.2+ KB

In [ ]:
df[df['average consumption'].between(0.5, 2.5)][['country', 'average consumption', 'region', 'gdp_per_capita']]

          country  average consumption                region  gdp_per_capita
36        Comoros                 1.67    SUB-SAHARAN AFRICA             700
74      Indonesia                 2.00  ASIA (EX. NEAR EAST)            3200
101          Mali                 2.33    SUB-SAHARAN AFRICA             900
110       Myanmar                 2.00  ASIA (EX. NEAR EAST)            1800
116         Niger                 2.00    SUB-SAHARAN AFRICA             800
134  Saudi Arabia                 1.67             NEAR EAST           11800
157    East Timor                 2.00  ASIA (EX. NEAR EAST)             500
174         Yemen                 2.00             NEAR EAST             650